In [4]:
import pandas as pd

election_result = pd.read_csv('./round06_election_result.csv')
df = pd.DataFrame(election_result, columns=['광역시도', '시군', 'pop', 'saenuri', 'minju', 'gita'])
# df

special_do = ['부산광역시','울산광역시']
df_special = df[df['광역시도'].isin(special_do)]

df_special['gita'] += df_special['minju']
df_special['minju'] = 0
# df_special

df[df['광역시도'].isin(special_do)] = df_special
df

c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

        광역시도    시군       pop   saenuri     minju     gita
0      서울특별시   종로구   81113.0   34599.0   45020.0   1494.0
1      서울특별시    중구   65393.0   28273.0   35662.0   1458.0
2      서울특별시   용산구  118198.0   58479.0   57807.0   1912.0
3      서울특별시   성동구  146873.0   62376.0   81645.0   2852.0
4      서울특별시   광진구  177484.0   72160.0  102449.0   2875.0
..       ...   ...       ...       ...       ...      ...
246     경상남도   산청군   21553.0   13918.0    5404.0   2231.0
247     경상남도   거창군   36296.0   23031.0    9653.0   3612.0
248     경상남도   합천군   33386.0   23729.0    6048.0   3609.0
249  제주특별자치도   제주시  208224.0  119758.0   73632.0  14834.0
250  제주특별자치도  서귀포시   85099.0   53035.0   25861.0   6203.0

[251 rows x 6 columns]

In [7]:
df_align = df.groupby(df['광역시도']).agg({'pop':sum, 'minju':sum, 'saenuri':sum,
                           'gita':sum})
df_align['minju_rate'] = df_align['minju'] / df_align['pop']
df_align['saenuri_rate'] = df_align['saenuri'] / df_align['pop']
df_align['gita_rate'] = df_align['gita'] / df_align['pop']
df_align

,pop,minju,saenuri,gita,minju_rate,saenuri_rate,gita_rate
광역시도,,,,,,,
강원도,781359.0,381338.0,369201.0,30820.0,0.488045,0.472511,0.039444
경기도,5175293.0,2488644.0,2536412.0,150237.0,0.480870,0.490100,0.029030
경상남도,1589673.0,559367.0,913162.0,117144.0,0.351876,0.574434,0.073691
경상북도,1314925.0,189603.0,986989.0,138333.0,0.144193,0.750605,0.105202
광주광역시,650008.0,367203.0,21614.0,261191.0,0.564921,0.033252,0.401827
대구광역시,1052638.0,418891.0,581175.0,52572.0,0.397944,0.552113,0.049943
대전광역시,652671.0,322762.0,301389.0,28520.0,0.494525,0.461778,0.043697
부산광역시,1629167.0,0.0,797926.0,831241.0,0.000000,0.489775,0.510225
서울특별시,4948897.0,2752171.0,2109869.0,86857.0,0.556118,0.426331,0.017551
세종특별자치시,63629.0,36203.0,26451.0,975.0,0.568970,0.415707,0.015323
울산광역시,511881.0,0.0,306311.0,205570.0,0.000000,0.598403,0.401597
인천광역시,1244502.0,593555.0,615077.0,35870.0,0.476942,0.494235,0.028823
전라남도,1028179.0,751968.0,98844.0,177367.0,0.731359,0.096135,0.172506
전라북도,898863.0,595631.0,180314.0,122918.0,0.662649,0.200602,0.136748
제주특별자치도,293323.0,99493.0,172793.0,21037.0,0.339193,0.589088,0.071720
충청남도,916206.0,465994.0,392315.0,57897.0,0.508613,0.428195,0.063192
충청북도,741049.0,361115.0,346152.0,33782.0,0.487302,0.467111,0.045587

In [8]:
df_align.to_csv('round06_election_result_aligned.csv',
               sep=',')