In [6]:
# 세종 x
import pandas as pd

election_result = pd.read_csv('./round05_election_result.csv')
df = pd.DataFrame(election_result, columns=['광역시도', '시군', 'pop', 'hannara', 'minju', 'gita'])
# df

special_do1 = ['제주특별자치도']
special_do2 = ['경상남도']

df_special1 = df[df['광역시도'].isin(special_do1)]
df_special1['gita'] += df_special1['hannara']
df_special1['hannara'] = 0

df_special2 = df[df['광역시도'].isin(special_do2)]
df_special2['gita'] += df_special2['minju']
df_special2['minju'] = 0
# # df_special

df[df['광역시도'].isin(special_do1)] = df_special1
df[df['광역시도'].isin(special_do2)] = df_special2
df

c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        광역시도    시군       pop  hannara    minju      gita
0      서울특별시   종로구   77812.0  35476.0  36910.0    5426.0
1      서울특별시    중구   60763.0  28648.0  28410.0    3705.0
2      서울특별시   용산구  105005.0  53285.0  44706.0    7014.0
3      서울특별시   성동구  135277.0  63448.0  63966.0    7863.0
4      서울특별시   광진구  158963.0  72749.0  76420.0    9794.0
..       ...   ...       ...      ...      ...       ...
244     경상남도   산청군   22967.0  11403.0      0.0   11564.0
245     경상남도   거창군   37039.0  18256.0      0.0   18783.0
246     경상남도   합천군   34161.0  16976.0      0.0   17185.0
247  제주특별자치도   제주시  195450.0      0.0  74905.0  120545.0
248  제주특별자치도  서귀포시   80606.0      0.0  33439.0   47167.0

[249 rows x 6 columns]

In [7]:
df_align = df.groupby(df['광역시도']).agg({'pop':sum, 'minju':sum, 'hannara':sum,
                           'gita':sum})
df_align['minju_rate'] = df_align['minju'] / df_align['pop']
df_align['hannara_rate'] = df_align['hannara'] / df_align['pop']
df_align['gita_rate'] = df_align['gita'] / df_align['pop']
df_align

,pop,minju,hannara,gita,minju_rate,hannara_rate,gita_rate
광역시도,,,,,,,
강원도,741724.0,388443.0,326111.0,27170.0,0.523703,0.439666,0.036631
경기도,4534771.0,2079892.0,2271492.0,183387.0,0.458654,0.500906,0.040440
경상남도,1549690.0,0.0,705986.0,843704.0,0.000000,0.455566,0.544434
경상북도,1260591.0,143347.0,913812.0,203432.0,0.113714,0.724908,0.161378
광주광역시,529901.0,297003.0,74490.0,158408.0,0.560488,0.140573,0.298939
대구광역시,886035.0,146458.0,633118.0,106459.0,0.165296,0.714552,0.120152
대전광역시,596683.0,137751.0,168616.0,290316.0,0.230861,0.282589,0.486550
부산광역시,1410126.0,619565.0,770507.0,20054.0,0.439369,0.546410,0.014221
서울특별시,4426182.0,2059715.0,2086127.0,280340.0,0.465348,0.471315,0.063337
울산광역시,462103.0,133437.0,279421.0,49245.0,0.288760,0.604673,0.106567
인천광역시,1067431.0,556902.0,469040.0,41489.0,0.521722,0.439410,0.038868
전라남도,967338.0,629984.0,123548.0,213806.0,0.651255,0.127720,0.221025
전라북도,856111.0,569980.0,151064.0,135067.0,0.665778,0.176454,0.157768
제주특별자치도,276056.0,108344.0,0.0,167712.0,0.392471,0.000000,0.607529
충청남도,901863.0,367288.0,154723.0,379852.0,0.407255,0.171559,0.421186
충청북도,696393.0,349913.0,313646.0,32834.0,0.502465,0.450386,0.047149