In [52]:
import pandas as pd
import numpy as np
import platform
import matplotlib.pyplot as plt

path = 'c:/Windows/Fonts/malgun.ttf'
from matplotlib import font_manager, rc

font_name = font_manager.FontProperties(fname=path).get_name()

plt.rcParams['axes.unicode_minus'] = False

In [53]:
from selenium import webdriver
import time

In [66]:
driver = webdriver.Chrome('../driver/chromedriver/chromedriver.exe')
driver.get("http://info.nec.go.kr/")

In [67]:
driver.switch_to_default_content()
driver.switch_to_frame('main')

c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: use driver.switch_to.default_content instead
  """Entry point for launching an IPython kernel.
c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: use driver.switch_to.frame instead

In [68]:
driver.find_element_by_xpath("""//*[@id="header"]/ul[1]/li[2]/a""").click()

In [69]:
driver.find_element_by_xpath("""//*[@id="presubmu"]/li[4]/a""").click()

In [70]:
make_xpath = """//*[contains(text(), "개표현황(읍면동별)")]"""
driver.find_elements_by_xpath(make_xpath)[1].click()

In [71]:
driver.find_element_by_xpath("""//*[@id="electionType4"]""").click()

In [72]:
round_list_raw = driver.find_element_by_xpath("""//*[@id="electionName"]""")
round_list = round_list_raw.find_elements_by_tag_name("option")
round_name_values = [option.text for option in round_list]
round_names_values = round_name_values[1:]
round_names_values

['제7회', '제6회', '제5회', '제4회', '제3회', '제2회', '제1회']

In [73]:
element1 = driver.find_element_by_id("electionName")
element1.send_keys(round_names_values[2])  # 제 5회

In [74]:
code_list_raw = driver.find_element_by_xpath("""//*[@id="electionCode"]""")
code_list = code_list_raw.find_elements_by_tag_name("option")
code_name_values = [option.text for option in code_list]
code_names_values = code_name_values[1:]
code_names_values

['시·도지사선거',
 '구·시·군의장선거',
 '시·도의회의원선거',
 '구·시·군의회의원선거',
 '광역의원비례대표선거',
 '기초의원비례대표선거',
 '교육감선거',
 '교육의원선거']

In [75]:
element2 = driver.find_element_by_id("electionCode")
element2.send_keys(code_names_values[0])  # 시·도지사선거

In [76]:
sido_list_raw = driver.find_element_by_xpath("""//*[@id="cityCode"]""")
sido_list = sido_list_raw.find_elements_by_tag_name("option")
sido_names_values = [option.text for option in sido_list]
sido_names_values = sido_names_values[1:]
sido_names_values

['서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도']

In [77]:
element3 = driver.find_element_by_id("cityCode")
element3.send_keys(sido_names_values[0])  # 서울특별시

In [78]:
gusigun_list_raw = driver.find_element_by_xpath("""//*[@id="townCode"]""")
gusigun_list = gusigun_list_raw.find_elements_by_tag_name("option")
gusigun_names_values = [option.text for option in gusigun_list]
gusigun_names_values = gusigun_names_values[1:]
gusigun_names_values

['종로구',
 '중구',
 '용산구',
 '성동구',
 '광진구',
 '동대문구',
 '중랑구',
 '성북구',
 '강북구',
 '도봉구',
 '노원구',
 '은평구',
 '서대문구',
 '마포구',
 '양천구',
 '강서구',
 '구로구',
 '금천구',
 '영등포구',
 '동작구',
 '관악구',
 '서초구',
 '강남구',
 '송파구',
 '강동구']

In [79]:
element4 = driver.find_element_by_id("townCode")
element4.send_keys(gusigun_names_values[0])  # 종로구

In [80]:
driver.find_element_by_xpath("""//*[@id="searchBtn"]""").click()

In [81]:
from bs4 import BeautifulSoup

html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

In [82]:
tmp = soup.find_all('td', 'alignR')
tmp[1:4]

[<td class="alignR">77,812</td>,
 <td class="alignR">35,476</td>,
 <td class="alignR">36,910</td>]

In [83]:
from tqdm import tqdm_notebook

sido_name_list = []
gusigun_name_list = []

for sido_value in tqdm_notebook(sido_names_values):
    element = driver.find_element_by_id("cityCode")
    element.send_keys(sido_value)

    time.sleep(1)

    gusigun_list_raw = driver.find_element_by_xpath("""//*[@id="townCode"]""")
    gusigun_list = gusigun_list_raw.find_elements_by_tag_name("option")
    
    gusigun_names_values = [option.text for option in gusigun_list]
    gusigun_names_values = gusigun_names_values[1:]
    
    for gusigun_value in gusigun_names_values:
        sido_name_list.append(sido_value)
        gusigun_name_list.append(gusigun_value)

c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:6: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

HBox(children=(FloatProgress(value=0.0, max=16.0), HTML(value='')))

In [84]:
election_result = pd.DataFrame({'광역시도':sido_name_list, 
                                '시군':gusigun_name_list})
election_result

        광역시도    시군
0      서울특별시   종로구
1      서울특별시    중구
2      서울특별시   용산구
3      서울특별시   성동구
4      서울특별시   광진구
..       ...   ...
244     경상남도   산청군
245     경상남도   거창군
246     경상남도   합천군
247  제주특별자치도   제주시
248  제주특별자치도  서귀포시

[249 rows x 2 columns]

In [85]:
def get_vote_info(n):
    html = driver.page_source
    soup = BeautifulSoup(html, 'lxml')
    
    tmp = soup.find_all('td', 'alignR')
    tmp_values = [float(tmp_val.get_text().replace(',', '')) 
                 for tmp_val in tmp[1:4]]
    
    pop[n] = tmp_values[0]
    hannara[n] = tmp_values[1]
    minju[n] = tmp_values[2]
    gita[n] = tmp_values[0] - tmp_values[1] - tmp_values[2]

In [86]:
import numpy as np

def fail_procedure(n):
    pop[n] = np.nan
    hannara[n] = np.nan
    minju[n] = np.nan
    gita[n] = np.nan

In [87]:
pop = [np.nan]*len(election_result)
hannara = [np.nan]*len(election_result)
minju = [np.nan]*len(election_result)
gita = [np.nan]*len(election_result)

len(pop), len(hannara), len(minju), len(gita)

(249, 249, 249, 249)

In [88]:
for n in tqdm_notebook(election_result.index):
    try:
        element = driver.find_element_by_id("cityCode")
        element.send_keys(election_result['광역시도'][n])
        
        time.sleep(0.5)
        
        element = driver.find_element_by_id("townCode")
        element.send_keys(election_result['시군'][n])
        
        driver.find_element_by_xpath("""//*[@id="spanSubmit"]/input""").click()
        
        time.sleep(0.5)
        
        get_vote_info(n)
        
    except:
        print('---Error---')
        fail_procedure(n)

c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:1: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  """Entry point for launching an IPython kernel.

HBox(children=(FloatProgress(value=0.0, max=249.0), HTML(value='')))

---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---

In [89]:
election_result['pop'] = pop
election_result['hannara'] = hannara
election_result['minju'] = minju
election_result['gita'] = gita
election_result.head()

    광역시도   시군       pop  hannara    minju    gita
0  서울특별시  종로구   77812.0  35476.0  36910.0  5426.0
1  서울특별시   중구   60763.0  28648.0  28410.0  3705.0
2  서울특별시  용산구  105005.0  53285.0  44706.0  7014.0
3  서울특별시  성동구  135277.0  63448.0  63966.0  7863.0
4  서울특별시  광진구  158963.0  72749.0  76420.0  9794.0

In [90]:
re_try_index = election_result[election_result['pop'].isnull()].index

for n in tqdm_notebook(re_try_index):
    try:
        element = driver.find_element_by_id("cityCode")
        element.send_keys(election_result['광역시도'][n])
        
        time.sleep(1)
        
        element = driver.find_element_by_id("townCode")
        element.send_keys(election_result['시군'][n])
        
        driver.find_element_by_xpath("""//*[@id="spanSubmit"]/input""").click()
        
        time.sleep(1)
        
        get_vote_info(n)
    
    except:
        print('Error')
        fail_procedure(n)

c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  This is separate from the ipykernel package so we can avoid doing imports until

HBox(children=(FloatProgress(value=0.0, max=96.0), HTML(value='')))

Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error

In [91]:
election_result['pop'] = pop
election_result['hannara'] = hannara
election_result['minju'] = minju
election_result['gita'] = gita
election_result.head()

    광역시도   시군       pop  hannara    minju    gita
0  서울특별시  종로구   77812.0  35476.0  36910.0  5426.0
1  서울특별시   중구   60763.0  28648.0  28410.0  3705.0
2  서울특별시  용산구  105005.0  53285.0  44706.0  7014.0
3  서울특별시  성동구  135277.0  63448.0  63966.0  7863.0
4  서울특별시  광진구  158963.0  72749.0  76420.0  9794.0

In [92]:
re_try_index = election_result[election_result['pop'].isnull()].index

for n in tqdm_notebook(re_try_index):
    try:
        element = driver.find_element_by_id("cityCode")
        element.send_keys(election_result['광역시도'][n])
        
        time.sleep(1)
        
        element = driver.find_element_by_id("townCode")
        element.send_keys(election_result['시군'][n])
        
        driver.find_element_by_xpath("""//*[@id="spanSubmit"]/input""").click()
        
        time.sleep(1)
        
        get_vote_info(n)
    
    except:
        print('Error')
        fail_procedure(n)

c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  This is separate from the ipykernel package so we can avoid doing imports until

HBox(children=(FloatProgress(value=0.0, max=53.0), HTML(value='')))

Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error

In [93]:
election_result['pop'] = pop
election_result['hannara'] = hannara
election_result['minju'] = minju
election_result['gita'] = gita
election_result.head()

    광역시도   시군       pop  hannara    minju    gita
0  서울특별시  종로구   77812.0  35476.0  36910.0  5426.0
1  서울특별시   중구   60763.0  28648.0  28410.0  3705.0
2  서울특별시  용산구  105005.0  53285.0  44706.0  7014.0
3  서울특별시  성동구  135277.0  63448.0  63966.0  7863.0
4  서울특별시  광진구  158963.0  72749.0  76420.0  9794.0

In [94]:
re_try_index = election_result[election_result['pop'].isnull()].index

for n in tqdm_notebook(re_try_index):
    try:
        element = driver.find_element_by_id("cityCode")
        element.send_keys(election_result['광역시도'][n])
        
        time.sleep(1)
        
        element = driver.find_element_by_id("townCode")
        element.send_keys(election_result['시군'][n])
        
        driver.find_element_by_xpath("""//*[@id="spanSubmit"]/input""").click()
        
        time.sleep(1)
        
        get_vote_info(n)
    
    except:
        print('Error')
        fail_procedure(n)

c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  This is separate from the ipykernel package so we can avoid doing imports until

HBox(children=(FloatProgress(value=0.0, max=29.0), HTML(value='')))

Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error

In [95]:
re_try_index = election_result[election_result['pop'].isnull()].index

for n in tqdm_notebook(re_try_index):
    try:
        element = driver.find_element_by_id("cityCode")
        element.send_keys(election_result['광역시도'][n])
        
        time.sleep(1)
        
        element = driver.find_element_by_id("townCode")
        element.send_keys(election_result['시군'][n])
        
        driver.find_element_by_xpath("""//*[@id="spanSubmit"]/input""").click()
        
        time.sleep(1)
        
        get_vote_info(n)
    
    except:
        print('Error')
        fail_procedure(n)

c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  This is separate from the ipykernel package so we can avoid doing imports until

HBox(children=(FloatProgress(value=0.0, max=29.0), HTML(value='')))

Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error

In [96]:
election_result['pop'] = pop
election_result['hannara'] = hannara
election_result['minju'] = minju
election_result['gita'] = gita
election_result.head()

    광역시도   시군       pop  hannara    minju    gita
0  서울특별시  종로구   77812.0  35476.0  36910.0  5426.0
1  서울특별시   중구   60763.0  28648.0  28410.0  3705.0
2  서울특별시  용산구  105005.0  53285.0  44706.0  7014.0
3  서울특별시  성동구  135277.0  63448.0  63966.0  7863.0
4  서울특별시  광진구  158963.0  72749.0  76420.0  9794.0

In [97]:
re_try_index = election_result[election_result['pop'].isnull()].index

for n in tqdm_notebook(re_try_index):
    try:
        element = driver.find_element_by_id("cityCode")
        element.send_keys(election_result['광역시도'][n])
        
        time.sleep(0.5)
        
        element = driver.find_element_by_id("townCode")
        element.send_keys(election_result['시군'][n])
        
        driver.find_element_by_xpath("""//*[@id="spanSubmit"]/input""").click()
        
        time.sleep(0.5)
        
        get_vote_info(n)
        
        time.sleep(0.5)
    
    except:
        print('Error')
        fail_procedure(n)

c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  This is separate from the ipykernel package so we can avoid doing imports until

HBox(children=(FloatProgress(value=0.0, max=11.0), HTML(value='')))

Error
Error
Error

In [98]:
election_result['pop'] = pop
election_result['hannara'] = hannara
election_result['minju'] = minju
election_result['gita'] = gita
election_result.head()

    광역시도   시군       pop  hannara    minju    gita
0  서울특별시  종로구   77812.0  35476.0  36910.0  5426.0
1  서울특별시   중구   60763.0  28648.0  28410.0  3705.0
2  서울특별시  용산구  105005.0  53285.0  44706.0  7014.0
3  서울특별시  성동구  135277.0  63448.0  63966.0  7863.0
4  서울특별시  광진구  158963.0  72749.0  76420.0  9794.0

In [99]:
re_try_index = election_result[election_result['pop'].isnull()].index

for n in tqdm_notebook(re_try_index):
    try:
        element = driver.find_element_by_id("cityCode")
        element.send_keys(election_result['광역시도'][n])
        
        time.sleep(0.5)
        
        element = driver.find_element_by_id("townCode")
        element.send_keys(election_result['시군'][n])
        
        driver.find_element_by_xpath("""//*[@id="spanSubmit"]/input""").click()
        
        time.sleep(0.5)
        
        get_vote_info(n)
        
        time.sleep(0.5)
    
    except:
        print('Error')
        fail_procedure(n)

c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  This is separate from the ipykernel package so we can avoid doing imports until

HBox(children=(FloatProgress(value=0.0, max=3.0), HTML(value='')))

Error

In [100]:
election_result['pop'] = pop
election_result['hannara'] = hannara
election_result['minju'] = minju
election_result['gita'] = gita
election_result.head()

    광역시도   시군       pop  hannara    minju    gita
0  서울특별시  종로구   77812.0  35476.0  36910.0  5426.0
1  서울특별시   중구   60763.0  28648.0  28410.0  3705.0
2  서울특별시  용산구  105005.0  53285.0  44706.0  7014.0
3  서울특별시  성동구  135277.0  63448.0  63966.0  7863.0
4  서울특별시  광진구  158963.0  72749.0  76420.0  9794.0

In [101]:
re_try_index = election_result[election_result['pop'].isnull()].index

for n in tqdm_notebook(re_try_index):
    try:
        element = driver.find_element_by_id("cityCode")
        element.send_keys(election_result['광역시도'][n])
        
        time.sleep(0.5)
        
        element = driver.find_element_by_id("townCode")
        element.send_keys(election_result['시군'][n])
        
        driver.find_element_by_xpath("""//*[@id="spanSubmit"]/input""").click()
        
        time.sleep(0.5)
        
        get_vote_info(n)
        
        time.sleep(0.5)
    
    except:
        print('Error')
        fail_procedure(n)

c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  This is separate from the ipykernel package so we can avoid doing imports until

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

Error

In [102]:
election_result['pop'] = pop
election_result['hannara'] = hannara
election_result['minju'] = minju
election_result['gita'] = gita
election_result.head()

    광역시도   시군       pop  hannara    minju    gita
0  서울특별시  종로구   77812.0  35476.0  36910.0  5426.0
1  서울특별시   중구   60763.0  28648.0  28410.0  3705.0
2  서울특별시  용산구  105005.0  53285.0  44706.0  7014.0
3  서울특별시  성동구  135277.0  63448.0  63966.0  7863.0
4  서울특별시  광진구  158963.0  72749.0  76420.0  9794.0

In [103]:
election_result.to_csv('./round07_election_result.csv', encoding='utf-8',  sep=',')