In [2]:
import pandas as pd

election_result = pd.read_csv('./round06_election_result.csv')
df = pd.DataFrame(election_result, columns=['광역시도', '시군', 'pop', 'saenuri', 'minju', 'gita'])
# df

special_do = ['부산광역시','울산광역시']
df_special = df[df['광역시도'].isin(special_do)]

df_special['gita'] += df_special['minju']
df_special['minju'] = 0
# df_special

df[df['광역시도'].isin(special_do)] = df_special

        광역시도    시군       pop   saenuri     minju     gita
0      서울특별시   종로구   81113.0   34599.0   45020.0   1494.0
1      서울특별시    중구   65393.0   28273.0   35662.0   1458.0
2      서울특별시   용산구  118198.0   58479.0   57807.0   1912.0
3      서울특별시   성동구  146873.0   62376.0   81645.0   2852.0
4      서울특별시   광진구  177484.0   72160.0  102449.0   2875.0
..       ...   ...       ...       ...       ...      ...
246     경상남도   산청군   21553.0   13918.0    5404.0   2231.0
247     경상남도   거창군   36296.0   23031.0    9653.0   3612.0
248     경상남도   합천군   33386.0   23729.0    6048.0   3609.0
249  제주특별자치도   제주시  208224.0  119758.0   73632.0  14834.0
250  제주특별자치도  서귀포시   85099.0   53035.0   25861.0   6203.0

[251 rows x 6 columns]